# TODO: Update with exact module version
numpy
torch>=1.7
opencv_python
ai
pyav
git+https://github.com/Megvii-BaseDetection/YOLOX.git@main
loguru
tqdm
torchvision
thop
ninja
tabulate
psutil
tensorboard
setuptools
wheel
cmake
# verified versions
# pycocotools corresponds to https://github.com/ppwwyyxx/cocoapi
pycocotools>=2.0.2
onnx>=1.13.0
onnxsim>=0.4.10

